.main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.78);
  text-align: center;
  position: absolute;
  bottom: 14rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* text-shadow: 0 0 1px rgba(170, 231, 162, 0.5); */
  letter-spacing: 0.05em;
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.78);
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
}

.modelContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

@media (min-width: 768px) {
  .main {
    padding: 0;
  }
}
